In [2]:
%reload_ext autoreload
%autoreload 2

In [3]:
from src.data import load_raw_data

In [4]:
rides = load_raw_data(year =2022)
rides

 File 2022-01 already exists
 File 2022-02 already exists
 File 2022-03 already exists
 File 2022-04 already exists
 File 2022-05 already exists
 File 2022-06 already exists
 File 2022-07 already exists
 File 2022-08 already exists
 File 2022-09 already exists
 File 2022-10 already exists
 File 2022-11 already exists
 File 2022-12 already exists

                  pickup_datetime  pickup_location_id
0       2022-01-01 00:35:40+00:00                 142
1       2022-01-01 00:33:43+00:00                 236
2       2022-01-01 00:53:21+00:00                 166
3       2022-01-01 00:25:21+00:00                 114
4       2022-01-01 00:36:48+00:00                  68
...                           ...                 ...
3399544 2022-12-31 23:46:00+00:00                  16
3399545 2022-12-31 23:13:24+00:00                  75
3399546 2022-12-31 23:00:49+00:00                 168
3399547 2022-12-31 23:02:50+00:00                 238
3399548 2022-12-31 23:00:15+00:00                  85

[39090266 rows x 2 columns]

In [5]:
rides.isnull().sum()

pickup_datetime       0
pickup_location_id    0
dtype: int64

In [6]:
from src.data import transform_raw_data_into_ts_data

rides = transform_raw_data_into_ts_data(rides)

C:\Users\LENOVO\Desktop\Time_series_project\src\data.py:135: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  rides["pickup_hour"] = rides['pickup_datetime'].dt.floor('H')
C:\Users\LENOVO\Desktop\Time_series_project\src\data.py:86: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  pd.DataFrame({"pickup_hour": pd.date_range(start=day, end=day + pd.Timedelta(days=1), freq="H")[:-1]})
100%|██████████| 258/258 [00:05<00:00, 47.41it/s]
C:\Users\LENOVO\Desktop\Time_series_project\src\data.py:111: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  start=agg_rides["pickup_hour"].min().floor("H"),
C:\Users\LENOVO\Desktop\Time_series_project\src\data.py:112: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  end=agg_rides["pickup_hour"].max().ceil("H") - pd.Timedelta(hours=1),
C:\Users\LENOVO\Desktop\Time_series_project\src\data.py:110: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  full_range = pd.date_range(

In [7]:
from src.data import transform_ts_data_into_features_and_target

features, target = transform_ts_data_into_features_and_target(
rides,
n_sez_len = 24*28*1,
step_size = 24
)

print(f'{features.shape = }')
print(f'{target.shape = }')

100%|██████████| 260/260 [00:29<00:00,  8.83it/s]

features.shape = (87620, 674)
target.shape = (87620,)

In [8]:
tabular_data = features
tabular_data['target_rides_next_hour'] = target

from src.paths import TRANSFORMED_DATA_DIR
tabular_data.to_parquet(TRANSFORMED_DATA_DIR / 'tabular_data.parquet')

In [9]:
features.head()

,rides_previous_672_hour,rides_previous_671_hour,rides_previous_670_hour,rides_previous_669_hour,rides_previous_668_hour,rides_previous_667_hour,rides_previous_666_hour,rides_previous_665_hour,rides_previous_664_hour,rides_previous_663_hour,...,rides_previous_7_hour,rides_previous_6_hour,rides_previous_5_hour,rides_previous_4_hour,rides_previous_3_hour,rides_previous_2_hour,rides_previous_1_hour,pickup_hour,pickup_location_id,target_rides_next_hour
0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,2.0,2.0,2.0,...,2.0,2.0,1.0,1.0,1.0,1.0,1.0,2022-01-29 00:00:00+00:00,1,1.0
1,2.0,2.0,2.0,2.0,2.0,4.0,1.0,2.0,1.0,2.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2022-01-30 00:00:00+00:00,1,1.0
2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,...,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2022-01-31 00:00:00+00:00,1,2.0
3,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,1.0,1.0,...,2.0,1.0,1.0,1.0,1.0,1.0,1.0,2022-02-01 00:00:00+00:00,1,1.0
4,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2022-02-02 00:00:00+00:00,1,1.0